.dropdownOptions {
  margin-top: 12px;
}

.cat {
  height: 60px;
}

/* Information */
.header-infor {
  display: flex;
  justify-content: space-between;
}

.nav-header li {
  list-style-type: none;
}

.nav-header {
  display: flex;
  width: 22%;
  justify-content: space-between;
}

.home-link:visited {
  color: #2f9931;
}

.breadcrumbs {
  background-color: #f1f6fe;
  padding: 20px 0;
}

.description-infor img {
  display: none;
}

.img-list {
  width: 30%;
  height: 250px;
  margin-right: 20px;
}

.img-infor {
  object-fit: cover;
  width: 100%;
  padding: 0 12px;
  height: 100%;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 14px;
}

/* News */
.list-news {
  display: flex;
  justify-content: space-between;
}

.img-news {
  width: 30%;
  height: 250px;
  margin-right: 20px;
}

.des-news img {
  display: none;
}

.description {
  width: 63%;
}

.des-news {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* AuthNavigate */
a {
  text-decoration: none;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.auth-container {
  background-color: #b9e7e7;
  height: 100vh;
}

.form-login {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  width: 20%;
  gap: 20px;
}

.form-login input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.form-login>button {
  padding: 10px;
  border: none;
  background-color: teal;
  cursor: pointer;
  color: white;
}

.form-login p {
  font-size: 12px;
  color: red;
  text-align: center;
}

.form-login span {
  font-size: 12px;
  text-align: center;
}

/* student */
.inner-page-std {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

.dropImages {
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
  border: 1px solid #2f9931;
  border-radius: 18px;
  margin-top: 10px;
  position: relative;
}

.iconUpload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attached-files {
  border: 1px solid #909690;
  border-radius: 18px;
  margin-top: 10px;
}

.wrap-file {
  width: 92%;
  margin: 10px auto;
}

.items-std {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

h5 {
  font-size: 14px;
  font-weight: 550;
}

.img-std {
  border-radius: 8px;
}

.header-box {
  list-style-type: none;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.header-list {
  width: calc(100%/5);
  text-align: center;
  /* background-color: #2f9931; */
}

.list-items {
  width: calc(100%/5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.form-upload {
  margin: 0 !important;
  width: 100% !important;
  height: fit-content !important;
}

.btn-submit {
  border: 1px solid #2f9931;
  width: fit-content;
  padding: 5px;
  background-color: #2f9931;
  border-radius: 8px;
  margin-left: 20px;
}

.submit {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 28%;
  margin-left: auto;
}

.iconUpload:hover>p {
  color: #909690;
}

.iconUpload:active>p {
  color: #f5f5f5;
}

.btn-submit:hover {
  background-color: #538654;
}

.preView-img {
  width: 240px;
  height: 150px;
  margin: 10px 0;
  border: 1px solid;
  border-radius: 8px;
}

.preview-box {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  width: 90%;
  margin: auto;
}

.close-btn {
  position: absolute;
  right: 1px;
  top: 10px;
  width: 25px;
  height: 25px;
}

.wrap-box{
  border: 1px solid #2f9931;
  border-radius: 18px;
  margin-top: 10px;
  background-color: #f5f5f5;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #538654; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #909690; 
}

/* Culture */

.cul-img{
  width: 30%;
  height: 250px;
  margin-right: 20px;
  object-fit: cover;
}

.cul-des{
  width: 67%;
}